<html>
  <head>
    <title>Surfer Health Survey</title>
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
	<link rel="stylesheet" href="css/orig/web.css" type="text/css" />
	<link rel="stylesheet" href="css/orig/leaflet.css" type="text/css" />
	<link rel="stylesheet" href="css/orig/natived/font-awesome.min.css" />
                <!-- jQueryMobileCSS - original without styling -->
        <link rel="stylesheet" href="css/orig/natived/jquerymobile.css" />
                <!-- nativeDroid core CSS -->
        <link rel="stylesheet" href="css/orig/natived/jquerymobile.nativedroid.css" />
                <!-- nativeDroid: Light/Dark -->
        <link rel="stylesheet" href="css/orig/natived/jquerymobile.nativedroid.dark.css"/>
                <!-- nativeDroid: Color Schemes -->
        <link rel="stylesheet" href="css/orig/natived/jquerymobile.nativedroid.color.blue.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- new native stylesheet
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
        <link rel="stylesheet" href="css/jqm-icon-pack-fa.css" /> 
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/jquerymobile.nativedroid.css" />
        <link rel="stylesheet" href="css/jquerymobile.nativedroid.dark.css"  id='jQMnDTheme' />
        <link rel="stylesheet" href="css/jquerymobile.nativedroid.color.green.css" id='jQMnDColor' />
	// -->
  </head>
  <body>
    <div data-role="page" data-theme="b" id="one">
	    <div data-role="header" data-theme="b" id="header"></div> 
	    <div id="content" data-theme="b" class="ui-content"></div>
	    <div data-role="footer" data-theme="b" id="footer" data-position="fixed"></div>
    <div> 
	<script src="js/orig/jquery-1.9.1.min.js"></script>
	<script src="js/orig/jquery.mobile-1.3.1.min.js"></script>
	<script src="js/orig/leaflet-0.6.4/leaflet.js"></script>
	<script src="js/vendor/underscore-min.js"></script>
	<script src="js/vendor/backbone-min.js"></script>
	<script src="js/vendor/json2.js"></script>
	<script type="text/template" id="tpl-contact-details">
    		<div class="form-left-col"><h3>Contact Content</h3></div>
	</script>
    	<script type="text/template" id="tpl-intro-details">
	  <div id="landing" data-theme="b">
	    <ul id="landList" data-role="listview">
		<li class="boxed2"><img style="width:5.3em; position:fixed; top:6%; left:.9em" src="img/surveyIcon.png"> <a id='landingSurvey'><h1><center><span class="liDown"><br>Sign In/Enroll</span></center></h1></a></li>
		<li class="boxed2"><img style="width:5.3em; position:fixed; top:33%; left:.7em;" src="img/mapIcon.png">  <a id='landingSurf'><h1><center><span class="liDown"><br>Find a Surf Spot</span></center></h1></a></li>
		<li class="boxed2"><img style="width:5.3em; position:fixed; top:58%; left:.7em;" src="img/mailIcon.png"> <a id='landingContact'><h1><center><span class="liDown"><br>Contact Us</span></center></h1></a></li>
		<li class="boxed2"><img style="width:5.3em; position:fixed; top:84%; left:.7em;" src="img/faqIcon.png">  <a id='landingFAQ'><h1><center><span class="liDown"><br>FAQ</span></center></h1></a></li>
	    </ul>
	  </div>
	</script>
	<script type="text/template" id="tpl-login-details">
    	<div class="form-left-col"><h3>Login</h3>
	  <div data-role="popup" id="popupLogin" data-theme="a" class="ui-corner-all" data-change-hash="false">
                          <div data-role="header" data-theme="b" class="ui-corner-top">
				  <!-- <h1>If your already enrolled please sign in.</h1> // -->
                          </div>
                          <div data-role="content" data-theme="b" class="ui-corner-bottom ui-content">
				<fieldset>
					<h3>New to the study?</h3>
                          <a href="#" name="enrollBtn" id="enrollBtn" data-theme="b" data-role="button">Enroll</a>
			  <h3>Already enrolled?</h3>
			<label for="loginInput" class="ui-hidden-accessible">Email or Telephone</label>
			  <div id="inputHolder">
                          <input type="text" name="loginInput" id="loginInput" value="" placeholder="Email or Telephone" data-theme="b" />
			  </div>
                          <a href="#" name="loginBtn" id="loginBtn" data-theme="b" data-role="button">Sign In</a>
				</fieldset>
                          </div>
          </div>
	</div>
	</script>
	<script type="text/template" id="tpl-faq-details">
    		<div class="form-left-col"><h3>FAQ Content</h3></div>
	</script>
	<script type="text/template" id="tpl-footer-details">
	 <div id="progBars" class="boxed">
	   <form>
 	    <fieldset id="footButtons" class="ui-grid-b">
		<div id="back" class = "ui-block-a"><a href="#" data-role="button" id="backButton"><div id='backButtonText'>Back</div></a></div>
		<div id="restartButton" class = "ui-block-b"><a href="#popupDialog" data-rel="popup" data-role="button" id="saveRestartButton">Restart</a></div>
		<div id="forward" class = "ui-block-c"><a href="#" data-role="button" class='buttonDisable' id="multi"><div id='multiButtonText' class="textDisable">Next</div></a></div>
	    </fieldset>
	   </form>
	   <fieldset id="topBars" class="ui-grid-a"><div id="modLabel" class = "ui-block-a"><p>Section (%):</p></div>
	     <div id="Mod-bar" class = "ui-block-b"><input type="range" name="slider2" id="Modprogress-bar" value="0" min="0" max="100" data-highlight="true"></div>
	   </fieldset>
	   <fieldset id="botBars" class="ui-grid-a"><div id="fullLabel" class = "ui-block-a"><p>Total (%):</p></div>
	     <div id="Full-bar" class = "ui-block-b"><input type="range" name="slider2" id="Fullprogress-bar" value="0" min="0" max="100" data-highlight="true"></div>
     	   </fieldset>
	  </div>
	</script>
	<script type="text/template" id="tpl-header-details">
		<h1 id="question">Surfer Health Survey</h1><form><a href="./index.html" id="mainPage2" data-role="button" data-icon="home" class="ui-btn-right">Home</a>
	</script>
	<script type="text/template" id="tpl-question-details">
    		<div class="form-left-col"><h3><%= title %></h3></div>
	</script>
	<script type="text/template" id="tpl-map-details">
    		<div class="form-left-col"><h3>Map Content</h3></div>
	</script>
	<script type="text/template" id="tpl-receipt-details">
    	<div class="form-left-col"><h3>Session Receipt:</h3>
	  <ul>
		<li>ID - <%= id %></li>
		<li>q1 - <%= q1 %></li>
		<li>q2 - <%= q2 %></li>
		<li>q3 - <%= q3 %></li>
		<li>q4 - <%= q4 %></li>
		<li>q5 - <%= q5 %></li>
		<li>q6 - <%= q6 %></li>
		<li>q7 - <%= q7 %></li>
		<li>q8 - <%= q8 %></li>
		<li>q9 - <%= q9 %></li>
		<li>q10 - <%= q10 %></li>
		<li>q11 - <%= q11 %></li>
	  </ul>
          	<button id="finish" class="finish">Looks Good</button>
	</div>
	</script>
	<script type="text/template" id="tpl-answer-details">
	  <% if((type) == "radio"){ %>
	  <h3>Radio Question - <%= qcount %> - <%= type %></h3>
         	<label>Record ID:</label>
          	<input type="text" id="rid" name="rid" value="<%= id %>" disabled />
          	<label>Question ID:</label>
         	<input type="text" id="qid" name="qid" value="<%= qcount %>" disabled />
		<button id="save" class="save">Save</button>
		<% if(decline == "yes") { %>
			<button id="decline" class="decline">Decline and save</button>
			<% }; %>
	  <div id="multi-radio" data-role='fieldcontain'>
	   <form id ="aid" >
	    <div style="margin: 0 auto; display: table; width: 19em; position:relative;">
		    <fieldset data-role="controlgroup" data-type="horizontal" data-role="fieldcontain" data-mini="true">
			<% for(i=0; i < menu.length; i++) { %>
			<label class="radioClassLabel" id= <%= "radioLabel-" + String.fromCharCode(97 + 1)  %> >
				<input type="radio" class="radioClass" id="radio-ID" name="radioSelect" value= <%= menu[i] %> />
			 <span class="ui-btn-inner"><span class="ui-btn-text" id= <%= "radio-text-" + String.fromCharCode(97 +i)  %> > <%= menu[i] %> </span></span></label>
			<% }; %>
		</fieldset>
	    </div> 
	   </form>
	 </div>
	  <% } else if ((type) == "multi"){  %>
  	    <div class="form-left-col"><h3>Multi Question - <%= qcount %> - <%= type %></h3>
	    <div data-role="fieldcontain">
          	<label>Record ID:</label>
          	<input type="text" id="rid" name="rid" value="<%= id %>" disabled />
   	      <label for="select-choice-1" class="select">Choose shipping method:</label>
    		<select name="aid" id="aid" multiple="multiple">
        	  <option value="standard">Standard: 7 day</option>
        	  <option value="rush">Rush: 3 days</option>
        	  <option value="express">Express: next day</option>
        	  <option value="overnight">Overnight</option>
    		</select>
        	<button id="save" class="save">Save</button>
	    </div>
	  <% } else if ((type) == "select"){  %>
  	    <div class="form-left-col"><h3>Select Question - <%= qcount %> - <%= type %></h3>
        	<label>Record ID:</label>
        	<input type="text" id="rid" name="rid" value="<%= id %>" disabled />
        	<label>Question ID:</label>
        	<input type="text" id="qid" name="qid" value="<%= qcount %>" disabled />
		<fieldset class="ui-field-contain">
    		  <select name="aid" id="aid">
		    <label for="day"><%= id %></label>
      			<option value="mon">Monday</option>
      			<option value="tue">Tuesday</option>
      			<option value="wed">Wednesday</option>
    		  </select>
        	<button id="save" class="save">Save</button>
    	    </div>
	  <% } else if ((type) == "text"){  %>
  	    <div class="form-left-col"><h3>Text Question - <%= qcount %> - <%= type %></h3>
        	<label>Record ID:</label>
        	<input type="text" id="rid" name="rid" value="<%= id %>" disabled />
        	<label>Question ID:</label>
        	<input type="text" id="qid" name="qid" value="<%= qcount %>" disabled />
        	<label>Answer</label>
        	<input type="text" id="aid" name="aid" value="" required/>
        	<button id="save" class="save">Save</button>
		<% if(decline == "yes") { %>
			<button id="decline" class="save">Decline and save</button>
			<% }; %>
    	    </div>
	  <% } else if ((type) == "checkbox"){  %>
          	<label>Record ID:</label>
          	<input type="text" id="rid" name="rid" value="<%= id %>" disabled />
          	<label>Question ID:</label>
          	<input type="text" id="qid" name="qid" value="<%= qcount %>" disabled />
          	<label>Answer</label>
	  	<input type="checkbox" id="aid" name="aid" value="HB">HB</input>
	  	<input type="checkbox" id="aid" name="aid" value="Ocean">Ocean</input>
          	<button id="save" class="save">Save</button>
	  <% } %>
	</script>
	<script src="js/globals.js"></script>
	<script src="js/models/Answer.js"></script>
	<script src="js/models/User.js"></script>
	<script src="js/models/Receipt.js"></script>
	<script src="js/models/Question.js"></script>
	<script src="js/views/AnswerListView.js"></script>
	<script src="js/views/ContactView.js"></script>
	<script src="js/views/FAQView.js"></script>
	<script src="js/views/FooterView.js"></script>
	<script src="js/views/HeaderView.js"></script>
	<script src="js/views/IntroView.js"></script>
	<script src="js/views/LoginView.js"></script>
	<script src="js/views/MapView.js"></script>
	<script src="js/views/QuestionListView.js"></script>
	<script src="js/views/ReceiptView.js"></script>
	<script src="js/views/UserView.js"></script>
	<script src="js/collections/AnswerList.js"></script>
	<script src="js/collections/QuestionList.js"></script>
	<script src="js/collections/ReceiptList.js"></script>
	<script src="js/application.js"></script>
  </body>
</html>
